@import '../../../scss/_variables.scss';
@import '../../../scss/_config.scss';


.box-barve {
    @include flex-center;
    gap: 1.2rem 3rem;
}


@media only screen and (max-width:450px) {

    .barve-container {
        @include flex-center;
        gap: 2rem 0rem;
        flex-direction: column;
        padding-block: 1.5rem;
    
        .box-mobile {
            @include flex-center;
            flex-wrap: nowrap;
            gap: 1rem 0.7rem;
            
            .box-barve {
                padding: 0rem 1rem;
                background-color: rgb(237, 237, 194);
                border-radius: 5px;
                width: 12rem;
                height: 18rem;
                box-shadow: 0px 0px 20px 10px $sixthColor;
                border-radius: 10px;

                .end-sporocilo {
                    color: $firstColor;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }

            .prev, .next {
                color: $shadowColor;
                cursor: pointer;
                font-size: 1.5rem;
                border: 1px solid $shadowColor;
                background-color: $activeColor;
                padding: 0.4rem;
                @include circle(2.2rem);
                @include transition-ease;

                &:hover {
                    color: $secondColor;
                    border-color: $fifthColor;
                }
            }
        }
    }
}