@import '../../../scss/_variables.scss';

footer {
    text-align: center;
    background-color: $primaryColor;
    
    .misel {
        color: $fifthColor;
        padding: 1.5rem;
    }

    .copyright {
        color: $thirdColor;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:450px) {

    footer {
        background-color: $mainContainerColor;
        padding-top: 10%;
    }
}
