@import '../../../scss/_variables.scss';
@import '../../../scss/_config.scss';


.start-navodilo {
    width: 18rem;

    h4 {
        font-size: 1.7rem;
        font-family: "Cabin_SemiCondensed-Regular";
        color: black;
        font-weight: bold;
        line-height: 2rem;
    }

    .gumbi {
        padding-block-start: 1rem;
    }
}

@media only screen and (max-width:450px) {

    :host {
        height: 100vh;
        
        .start-navodilo { 
            margin: auto;

            h4 {
                font-size: 1.5rem;
            }
        }
    }
}