@import '../../../scss/_variables.scss';
@import '../../../scss/_config.scss';


    .navodilo { 
        width: 18rem;

        h4 {
            font-size: 1.7rem;
            font-family: "Cabin_SemiCondensed-Regular";
            color: black;
            font-weight: bold;
            line-height: 2rem;
        }
    }

@media only screen and (max-width:450px) {

    .navodilo { 
        width: 90%;
        margin: auto;
        height: 100vh;

        h4 {
            font-size: 1.4em;
            font-weight: 400;
            line-height: 1.4rem;
        }
    }
}