@import '../../../scss/_variables.scss';
@import '../../../scss/_config.scss';

header {
    background-color: $primaryColor;
    border-bottom: 2px dotted $secondColor;
    box-shadow: 0px 70px 70px -50px $secondColor;

    .top_header {
        @include flex-center;
        justify-content: space-between;
        padding: 2.5% 2% 0% 2%;

        .title a {
            color: $firstColor;
            text-decoration: none;
            font-size: 2rem;
            font-family: Satisfy-Regular, Arial, Helvetica, sans-serif;
        }

        #vpis a {
            color: $mainContainerColor;
            border-radius: 50px;
            text-decoration: none;
            font-size: 15px;
            padding: 8px;
            border: 2px solid $secondColor;
        }

        #vpis a:hover {
            box-shadow: none;
            color: $secondColor;
            border-color: $firstColor;
            @include transition-ease;
        }

    }

    .navbar {
        height: 59px;

        .nav {
            margin: 0px auto;
        }
    
        .nav a {
            font-family: Cabin_SemiCondensed-Regular, Arial, Helvetica, sans-serif;
            font-size: 1rem;
            color: $mainContainerColor;
        }

        .nav a:hover {
            color: $secondColor;
            @include transition-ease;
        }
        
        .active {
            color: $fifthColor !important;
        }
    }
}

@media only screen and (max-width:450px) {

    header {
        height: 3.2rem;
        position: fixed;
        width: 100%;
        z-index: 1;

        &.border {
            border-bottom: none;
        }

        .top_header {
            padding: 0rem;

            .title {
                position: absolute;
                top: 0.7rem;
                left: 1rem;

                a {
                    font-size: 1.3rem;
                    line-height: 2rem;
                }
            }
    
            #vpis {
                display: none;
                padding: 2%;
                
                a  {
                    font-size: 0.7rem;
                    border-width: 1px;
                }
            }
        }

        .menu-btn {
            @include flex-center;
            position: absolute;
            top: 1rem;
            right: 1rem;
            height: 20px;
            width: 25px;
            z-index: 1;
            cursor: pointer;
            @include transition-ease;
            background-color: pink;
            border: 2px solid green;

            p {
                color: gray;
            }
    
            &_burger {
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: yellow;
                @include transition-ease;
    
                &::before {
                    content: "";
                    position: absolute;
                    top: -7px;
                    width: 25px;
                    height: 2px;
                    background-color: $secondColor;
                    @include transition-ease;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    top: 7px;
                    width: 25px;
                    height: 2px;
                    background-color: $secondColor;
                    @include transition-ease;
                }
    
                &.open {
                    transform: rotate(720deg);
                    background-color: transparent;
    
                    &::before {
                        transform: rotate(45deg) translate(2.5px, 7px);
                    }
    
                    &::after {
                        transform: rotate(-45deg) translate(3px, -7.7px);
                    }
                }
            }
        }

        .navbar {
            display: none;

            .nav {
                display: flex;
                flex-direction: column;
                width: 450px;
                gap: 1px;
            }

            .nav a {
                font-size: 1rem;
                line-height: 1.4rem;
                width: fit-content;
            }

            &.open {
                z-index: 1;
                display: block;
                background-color: $primaryColor;
                height: fit-content;
            }
        }
    }
}