@import '../../../scss/_variables.scss';
@import '../../../scss/_config.scss';

.container {
    background: linear-gradient(to bottom, $primaryColor, $firstColor);
    height: 500px;
    @include flex-center;
    align-content: center;
    gap: 6.5rem 4rem;
    padding: 0rem 5rem;

    .btn {
        color: $activeColor;
        font-weight: bold;
        padding: 1rem;
        font-size: 1.2rem;
        border: 1px solid $thirdColor;
        border-radius: $border-radius;
    }

    .btn:hover {
        @include transition-ease;
        background-color: $firstColor;
        border-color: $firstColor;
    }
}

@media only screen and (max-width:450px) {

    .container {
        gap: 3rem 2rem;
        padding: 0rem;
        height: 100vh;

        .btn {
            font-weight: normal;
            font-size: 1rem;
        }
    }
}