@charset "UTF-8";

@import 'scss/_variables.scss';
@import 'scss/_config.scss';

@font-face {
    font-family: "Satisfy-Regular";
    src: local("Satisfy-Regular"), url(./assets/fonts/Satisfy-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Cabin_SemiCondensed-Regular";
    src: local("Cabin_SemiCondensed-Regular"), url(./assets/fonts/Cabin_SemiCondensed-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Tourney-VariableFont_wdth,wght";
    src: local("Tourney-VariableFont_wdth,wght"), url(./assets/fonts/Tourney-VariableFont_wdth,wght.ttf) format("truetype");
}

@font-face {
    font-family: "BungeeShade-Regular";
    src: local("BungeeShade-Regular"), url(./assets/fonts/BungeeShade-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Chango-Regular";
    src: local("Chango-Regular"), url(./assets/fonts/Chango-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "KosugiMaru-Regular";
    src: local("KosugiMaru-Regular"), url(./assets/fonts/KosugiMaru-Regular.ttf) format("truetype");
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $primaryColor; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100vh;
}

.container {
    background-color: $mainContainerColor;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 3rem 0.5rem;

    .gumbi {
        @include flex-center;

        button {
            @include buttonStyle;
        }
    }

    &.navodilo {
        @include flex-center;
        height: 400px;
        @include gradient($mainContainerColor, $fifthColor);
    }
}

@media only screen and (max-width:450px) {

    body {
        background-color: $mainContainerColor;
        overflow-x: hidden;
    }

    .navbar-header a {
        font-size: 1.3em;
    }

    .container {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        border-bottom: 1px solid $thirdColor;
        padding-top: 4rem;

        .gumbi {
            gap: 0rem 1rem;

            button {
                font-size: 0.8rem;
            }
        }

        &.navodilo {
            height: 100vh;
            padding-block-start: 40%;
        }
    }
}
