$primaryColor: rgb(22, 20, 20);
$mainContainerColor: rgb(227, 213, 201);
$firstColor: rgb(172, 52, 144);
$secondColor: rgb(243, 23, 191);
$thirdColor: gray;
$fourthColor: rgb(84, 77, 77);
$fifthColor: rgb(186, 128, 172);
$sixthColor: rgb(149, 179, 153);
$sixthColorLight: rgb(161, 236, 172);
$sixthColorDark: rgb(135, 191, 143);
$activeColor: beige;
$shadowColor: rgba(54, 44, 44, 0.336);
$border-radius: 2em;
$derBlue: rgb(10, 74, 137);
$dieRed: rgb(201, 10, 10);
$dasYellow: rgb(230, 138, 0);
$derBlueBrighter: rgb(29, 124, 219);
$dieRedBrighter: rgba(255, 0, 0, 0.922);
$dasYellowBrighter: rgb(210, 181, 84);
$stevecColor: rgb(96, 175, 157);
$stevecColorDark: rgb(50, 138, 109);